<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<main class="main">
  <div class="content" *ngIf="!newUser">
    
    <div>
      <mat-card appearance="outlined">
        <mat-card>
          <div class="sidebar">

            <div class="user-info-component component">
              <div class="hover" (click)="changingUsername = !changingUsername">Name: {{ this.user.username}}</div>
              
              <div *ngIf="changingUsername">
                <input matInput
                maxlength="20"
                minlength="1"
                placeholder="New Username"
                [(ngModel)]="newUsername"
                />
                <div>
                  <button mat-button color="warn" (click)="changingUsername = !changingUsername">Cancel</button>
                  <button mat-button (click)="changeUsername()">Confirm</button>
                </div>
              </div>
        
                <div>Home location: {{ this.formatPlaceName(this.user.startingLocation.placeName) }}</div>
                <div>Runs total: {{ this.runningStats.numberOfRuns }}</div>
                <div>
                  Total Distance: {{ getDisplayDistance(this.runningStats.totalDistanceRan) }}
                </div>
            </div>


            <mat-expansion-panel class="component" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title> Log a Run + </mat-panel-title>
              </mat-expansion-panel-header>
              <div>How far did you run?</div>
              <div class="input-wrapper">
                <input
                  type="number"
                  min="0.5"
                  value="{{this.distanceRan}}"
                  placeholder="Run Distance"
                  required
                  [(ngModel)]="distanceRan"
                />
                <span class="log-unit">{{ this.user.kilometers ? 'Km' : 'Miles'}}</span>
              </div>
                <!-- <mat-icon (click)="convertDistance()">swap_horizontal_circle</mat-icon> -->
                <button (click)="logRun(distanceRan)">Log Run</button>
            </mat-expansion-panel>

            <button class="settings-button" mat-raised-button [matMenuTriggerFor]="menu">Settings</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="convertDistance()"><mat-icon>cached</mat-icon> {{ this.user.kilometers ? 'Miles' : 'Kilometers'}} </button>
              <button mat-menu-item (click)="resetDistance()">Reset distance ran 
                <br>
                <span style="color: gray; font-size: 0.85em;">(Keeps completed goals)</span>
              </button>
              <button mat-menu-item (click)="downloadLocalStorage()">Export Stats(as JSON)</button>
              <mat-divider></mat-divider>
              <button mat-menu-item style="color: red;" (click)="deleteAccount()">Reset Account</button>
            </mat-menu>

          </div>

          <div class="main-content">

            <!-- Goal cards -->
            <mat-tab-group class="goals-tabs component" animationDuration="2000ms">
  
              <mat-tab label="Active Goals"> 
                
                <div *ngIf="user.goals.length">
                  
                  <div class="goal-div" *ngFor="let goal of user.goals">
                    <ng-container *ngIf="goal.completed == false">
                      <mat-card appearance="outlined">
                        <mat-card-content>
                          <!-- Goal information -->
                          <div class="goal-info">
                            <div>Goal: {{formatPlaceName(goal.placeName)}}</div>
                            <!-- Delete goal button -->
                            <button mat-icon-button (click)="deleteGoal(goal)" class="delete-button" aria-label="Delete">
                              <mat-icon>delete</mat-icon>
                            </button>
                          </div>
                          <div class="goal-info">
                            <div>Distance: {{getDisplayDistance(goal.distance)}}</div>
                            <div class="align-right">{{goal.progress ? goal.progress : 0 }}%</div>
                          </div>    
                          <!-- Progress bar -->
                          <mat-progress-bar *ngIf="goal.progress !== 100" mode="determinate" value="{{ goal.progress }}"></mat-progress-bar>
                        </mat-card-content>
                      </mat-card>
                      <!-- Appears if goal is completed -->
                      <div (click)="setGoalCompleted(goal)" class="completed" *ngIf="goal.progress === 100">GOAL COMPLETED!</div>
                    </ng-container>
                  </div>
                  
                  <mat-tab label="Completed Goals"> 
                    <div class="goal-div" *ngFor="let goal of user.goals">
                      <ng-container *ngIf="goal.completed == true">
                        <mat-card appearance="outlined">
                          <mat-card-content>
                            <div class="goal-info">
                              <div>Destination: {{formatPlaceName(goal.placeName)}}</div>
                              <button mat-icon-button (click)="deleteGoal(goal)" class="delete-button" aria-label="Delete">
                                <mat-icon>delete</mat-icon>
                              </button>
                            </div>

                            <div class="goal-info">
                              <div>Distance Ran: {{getDisplayDistance(goal.distance)}}</div>
                            </div>
                          </mat-card-content>
                        </mat-card>
                      </ng-container>
                    </div>  
                  </mat-tab>
                  
                </div>
                
                <div class="no-goals" *ngIf="user.goals.length === 0">No Goals added</div>
                
              </mat-tab>
            </mat-tab-group>

            <div class="right-content-align">
              
              <mat-tab-group class="add-goal-component component">
                
                <mat-tab label="Add a Goal">

                  <div class="add-goal-container">
                      <div>Next Goal Location</div>
                      <input
                      placeholder="Search for an address"
                      [(ngModel)]=locationSearch
                      required
                      />
                      <button (click)="generateLocationList()">enter location</button>
                    <div *ngIf="addingGoal" class="location-cards">
                      <!-- If no results for locationSearch -->
                      <div *ngIf="this.noResultsFound">No Results found please try again</div>
                        <!-- Displays locationSearch results -->
                        <div *ngFor="let item of apiResponse">
                          <app-address-card 
                            class="scrollable-card"
                            [addressDetails]="item"
                            (click)="setGoal(item)"
                            [ngClass]="{'highlight': selectedAddress === item}">
                        </app-address-card>
                      </div>
                    </div>
                  </div> 

                </mat-tab>
              </mat-tab-group>
            
            </div>
    
          </div>
        </mat-card>
      </mat-card>
    </div>
  </div>
  
  <!-- Initial screen for new user to enter information -->
  <mat-card class="opening-form-card" *ngIf="newUser" appearance="outlined">
    <mat-card-content>
      
      <div class="form-container">
        <div class="input-group">
          <div class="input-label">Username</div>
          <input
            (change)="setUsername()"
            placeholder="Enter username"
            [(ngModel)]="username"
            required
          />
        </div>
        
        <div class="input-group">
          <div class="input-label">Starting Location</div>
          <input
            placeholder="Search for your home address"
            [(ngModel)]="locationSearch"
            required
          />
        </div>
        
        <button (click)="generateLocationList()">enter location</button>
      </div>
  
      
      <!-- Displays locationSearch results -->
      <div *ngIf="locationDiv" class="scroll-container">
        <!-- If no results for locationSearch -->
        <div *ngIf="this.noResultsFound">No Results found please try again</div>
        
        <app-address-card 
          *ngFor="let item of apiResponse;"
          class="scrollable-card hover"
          [addressDetails]="item"
          (click)="setLocation(item)"
          [ngClass]="{'highlight': selectedAddress === item}">
        </app-address-card>

      </div>

      <!-- Submits Form -->
      <button class="button-container" (click)="saveForm()" [disabled]="saveDisabled">Save Form</button>

    </mat-card-content>
  </mat-card>
</main>


<router-outlet />
