  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: inherit;
    background-color: lightgrey;
   }

  // Card that all content sits on
  .content {
    width: 90%;
    position: relative;
    overflow: hidden;
  }
  
  // Sidebar stylings
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    border-right: 1px solid black;
    width: 25%; 
    height: 100%;
    padding: 2%;
    // background-color: #F038FF; 
    position: absolute; 
    left: 0;
    z-index: 1; 
    transition: width 0.3s ease;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .user-info-component {
    padding:2%;
    margin-bottom: 25%;
  }
  
  .settings-button {
    align-self: flex-start;
    margin-top: auto;
    margin-bottom: 2%;
    border: 1px solid black;
  }

  mat-divider {
    margin: 0;
  }

  // Main content box stylings  
  .main-content {
    display:flex;
    margin-left: 25%;
    justify-content: center;
    padding: 2%;
    // background-color: #91F5AD;
  }
  
  .component {
    border: 1px solid #2C0703;
    border-radius: 5px;
  }

  .right-content-align {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
  }
  
  .add-goal-component {
    height: 100%;
    width: 100%;
    // background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2%;
    min-height: 500px;
    max-height: 500px;
    overflow: hidden;
  }
  
  .input-wrapper {
    position: relative;
    display: inline-block;
    width: 50%; 
  }
  
  // Log run input
  .input-wrapper {
    position: relative;
    width: 100%; 
    max-width: 300px; 
  }
  
  input[type="number"] {
    width: 100%;
    padding-right: 80px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
  }
  
  span.log-unit {
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%); 
    color: gray; 
    font-size: medium; 
    pointer-events: none; 
  }
  
  .add-goal-component {
    display: flex;
    flex-direction: column;
  }
  
  .hover:hover {
    cursor: pointer;
    color: blue;
  }
  
  .goals-tabs {
    // background-color: #f5f5f5; 
    border-radius: 8px; 
    height: 100%;
    margin-right: 2%;
    overflow-y: auto; 
    min-height: 500px;
    max-height: 500px;
    width: 45%; 
    overflow: hidden; 
    transition: max-width 0.3s ease-in-out;
  }

  .add-goal-container {
    display: flex;
    flex-direction: column;
  }

  .location-cards {
    overflow-y: auto;
    width: 100%;
  }

  .location-cards div {
    width: 100%; /* Ensure the location cards do not expand the container */
  }

  app-address-card {
    display: block;
    margin: 5px;
  }

    app-address-card:hover {
    background-color: #e0e0e0; 
  }

  .align-right {
    text-align: right;
    margin-bottom: 5px;
  }

  .goal-div {
   background-color: green;
   margin: 2%;
   border-radius: 25px;
  }
  
  .goal-info { 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
  }
  
  mat-progress-bar {
    margin-top: 5px;
  }

  .delete-button {
    color: #f44336;
    transition: transform 0.2s ease-in-out;
  }

  .delete-button:hover {
    color: #d32f2f;
    transform: scale(1.1); 
  }

  .delete-button:focus {
    outline: none; 
  }
  
  .completed {
    text-align: center;
    font-size: large;
    font-weight: bold;
    color:white; 
    cursor: pointer;
  }

  .no-goals {
    text-align: center;
  }

/* Initial form screen stylings */

  .opening-form-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .opening-form-card {
    max-width: 500px;
    margin: auto;
    padding: 2%;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .input-group {
    display: flex;
    flex-direction: column;
  }

  .input-label {
    font-weight: bold;
    font-size: 1rem;
  }

  input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
  }

  .opening-form-card button {
    background-color: #007bff; /* Primary color */
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .opening-form-card button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .no-results-found {
    color: red; 
    font-size: 14px;
  }
  
  .scroll-container {
    max-height: 400px; 

    overflow-y: auto; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
  }

  .scrollable-card {
    margin-bottom: 10px; 
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  .scrollable-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
    transform: translateY(-4px);    
  }

  .highlight {
    border: 8px solid #4caf50; 
    background-color: #f1f8e9; 
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease-in-out 
  }

  .highlight:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);     
  }

  .button-container {
    display: flex;
    justify-content: center;
    width: 200px;
    margin: 10px 20px;
  }

  a {
    color: #007bff;
    cursor: pointer;
  }